apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-java-app
  labels:
    app: jenkins-java-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: jenkins-java-app
  template:
    metadata:
      labels:
        app: jenkins-java-app
    spec:
      containers:
        - name: jenkins-java-app
          image: <your-image-name>:<your-image-tag>
          ports:
            - containerPort: 8080
