		apiVersion: apps/v1
		kind: Deployment
		metadata:
			name: java-app-deployment
			labels:
				app: app
		spec:
			replicas: 1
			selector:
				matchLabels:
				app: app
			template:
				metadata:
					labels:
						app: app
			spec:
				containers:
					- name: my-app
					image: dinesh4136/java-app:java
					ports:
						- containerPort: 8081