apiVersion: v1
kind: Service
metadata:
  name: jenkins-java-app-service
spec:
  type: LoadBalancer
  selector:
    app: jenkins-java-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
